.ReapirNotesContainer {
    color: #b4b4b4 !important;
    width: 16rem !important;
    border-radius: 10px !important;
    margin: 1rem !important;
}

.RepairNotesMapContainer {
    background-color: #eaeaea;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.RepairNotesTitle {
    color: #b4b4b4 !important;
}

.RepairNotesNoNotesContainer {
    background-color: #eaeaea;
    width: 16rem;
    border-radius: 15px;
    padding-top: 8px;
}

.RepairNotesNoContainerIcon {
    font-size: 3rem !important;
}

.RepairNotesNoContainerTitle {
    color: #b4b4b4 !important;
    margin-top: 6px !important;
}
